<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>629582960373-q76h3nd7kemqe227a6fv15cmbkmg0iev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.629582960373-q76h3nd7kemqe227a6fv15cmbkmg0iev</string>
	<key>API_KEY</key>
	<string>AIzaSyA93GWfkFXYfW1lr2xRk07p6v_CK3zQwis</string>
	<key>GCM_SENDER_ID</key>
	<string>629582960373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testRealm</string>
	<key>PROJECT_ID</key>
	<string>testrealm-abe08</string>
	<key>STORAGE_BUCKET</key>
	<string>testrealm-abe08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629582960373:ios:ccab978448c84e3d0417bc</string>
</dict>
</plist>